@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.cart-ctn2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-height: 50vh;
    padding-bottom: 300px;
    .header{
       text-align: center;
       margin-top: 5%; 
       letter-spacing: 5px;    
       padding-bottom: 30px;
    }  
    .product {
        display: grid;
        .link {
            color: black;
            text-decoration: none;
        }
        u {
            background-color: rgb(173, 169, 169);
            height: 1px;
            display: grid;
            margin-top: 20px;
            width: 90%;
            margin-left: 5%;
        }
        .card {
            display: flex;
            justify-content: center;
            padding: 20px;
            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border: 2px solid #4e4c4c;
                border-radius: 15px;
            }
            .text {
                margin-left: 5%;
                .btn{
                    button{
                        margin-top: 5%;
                        padding: 5px;
                        color: white;
                        border: 0;
                        border-radius: 5px;
                        width: 50px;
                    }
                }
                h1 {
                    font-size: 3.5vh;
                    font-family: "Nunito", sans-serif;
                }
                p {
                    margin-top: 3%;
                    font-size: 1.3rem;
                    letter-spacing: 1px;
                    font-family: "Nunito", sans-serif;
                    font-style: 100;
                }
                .del {
                    cursor: pointer;
                    margin-bottom: 10px;
                }
                .quantity {
                    display: flex;
                    gap: 1rem;
                    margin-top: 10%;
                    padding-bottom: 20px;
                    button {
                        background-color: transparent;
                        font-weight: bolder;
                        font-size: 1rem;
                        cursor: pointer;
                        border: 0px;
                    }
                    h2 {
                        font-size: 1rem;
                        font-weight: bolder;
                    }
                    h3 {
                        color: white;
                        width: 20px;
                        text-align: center;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .total-price {
        display: flex;
        position: fixed;
        bottom: 0;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        .content {
            width: 100%;
            box-sizing: 2px 2px black;
            border-radius: 5px;
            .text-ctn {
                padding: 30px;
                // background-color: rgb(240, 240, 240);
                u {
                    height: 1.5px;
                    display: grid;
                    margin-top: 20px;
                }
            }
            .text {
                display: flex;
                justify-content: space-between;
                h1 {
                    font-size: 1.2rem;
                    font-weight: normal;
                }
            }
        }
        .check-out {
            display: grid;
            background-color: rgb(240, 240, 240);
            padding-bottom: 50px;
            padding-left: 30px;
            padding-right: 30px;
            .text {
                padding: 30px;
                display: flex;
                h1 {
                    font-weight: bolder;
                }
            }
            button {
                color: white;
                height: 30px;
                width: 100%;
                cursor: pointer;
            }
        }
    }
    //mobile
    @media only screen and (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
       
        .product{
            scale: 0.85;
            .card{
                padding: 0px;
                .text{
                    margin-top: 30px;
                    h1{
                        font-size: 1rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
            }
            img{
                scale: 0.8;
            }
        }
    }
}



.product-checkout {
    display: grid;
    .link {
        color: black;
        text-decoration: none;
    }
    u {
        background-color: rgb(173, 169, 169);
        height: 0.5px;
        display: grid;
        margin-top: 20px;
        width: 90%;
        margin-left: 5%;
    }
    .card {
        display: flex;
        justify-content: center;
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border: 2px solid #d8d7d7;
            border-radius: 15px;
        }
        .text {
            margin-top: 5%;
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            .text-2{
                display: flex;
                align-items: center;
                gap: 1rem;
                .quantity-1{
                    display: flex;
                    text-align: center;
                    align-items: center;
                    background-color: #eeeeee;
                    border: 1px solid rgb(192, 191, 191);
                    height: 10px;
                    padding: 3px;
                    h1{
                        color: rgb(19, 11, 11);
                        font-size: 0.6rem;
                    }
                }
            }
            .btn{
                button{
                    margin-top: 5%;
                    padding: 5px;
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    width: 50px;
                }
            }
            h1 {
                font-size: 2vh;
                font-family: "Nunito", sans-serif;
            }
            p {
                margin-top: 3%;
                font-size: 1rem;
                letter-spacing: 1px;
                font-family: "Nunito", sans-serif;
                font-style: 100;
            }
            .quantity {
                display: flex;
                gap: 1rem;
                margin-top: 10%;
                padding-bottom: 20px;
                button {
                    background-color: rgb(255, 255, 255);
                    border: 1px solid white;
                    font-weight: bolder;
                    font-size: 1rem;
                    cursor: pointer;
                }
                h2 {
                    font-size: 1rem;
                    font-weight: bolder;
                }
                h3 {
                    background-color: black;
                    color: white;
                    width: 20px;
                    text-align: center;
                    font-weight: normal;
                }
            }
        }
    }
}


.total-price-1 {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    .content {
        width: 400px;
        box-sizing: 2px 2px black;
        border-radius: 5px;
        .text-ctn {
            padding: 30px;
            display: grid;
            align-items: center;
            background-color: rgb(240, 240, 240);
            u {
                background-color: black;
                height: 1.5px;
                display: grid;
                margin-top: 20px;
            }
        }
        .text {
            display: flex;
            justify-content: space-between;
            h1 {
                font-size: 1.2rem;
                font-weight: normal;
            }
        }
    }
    .check-out {
        display: grid;
        background-color: rgb(5, 4, 4);
        color: white;
        .text {
            padding: 30px;
            display: flex;
            h1 {
                font-weight: bolder;
            }
        }
        button {
            background-color: black;
            color: white;
            height: 30px;
            width: 100%;
        }
    }
}