@use './footer.scss';
@use './home/template1.scss';
@use './home/template2.scss';
@use './home/template3.scss';
@use './menus';
@use './menus2';
@use './menu';
@use './cart';
@use './checkout';
@use './theme.scss';
@use './navbar/navbar1.scss';
@use './navbar/navbar2.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
.body-restaurant{
    max-width: 500px;
    min-height: 100vh;
    margin: auto;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}