@use './navbar.scss';
@use './home.scss';
@use './footer.scss';
@use './login.scss';
@use './package.scss';
@use './step.scss';
@use './manageWebsite.scss';
@use './loading.scss';
@use './profile.scss';
@use './reset-password.scss';
@use './blog.scss';
@use './sidebar.scss';
@use './feature.scss';



@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;    
}

.app{
    margin: auto;
    font-family: "IBM Plex Sans Thai", sans-serif;
}