@use "./home/template1.scss";
@use "./home/template2.scss";
@use "./home/template3.scss";
@use "./home/template4.scss";
@use "./home/template5.scss";

@use "./popular/popular1.scss";
@use "./popular/popular2.scss";
@use "./popular/popular3.scss";

@use "./about/about.scss";
@use "./about/about3.scss";
@use "./contact/contact1.scss";
@use "./contact/contact2.scss";
@use "./contact/contact3.scss";

@use "./cart.scss";
@use "./information.scss";
@use "./navbar/navbar1.scss";
@use "./navbar/navbar2.scss";
@use "./navbar/navbar3.scss";
@use "./navbar/navbar4.scss";

@use "./category/category1.scss";
@use "./category/category2.scss";
@use "./footer/footer1.scss";

@use "./filter.scss";
@use "./products.scss";
@use "./product.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

.custom-confirm-button {
    background-color: black !important; /* สีดำ */
    width: 200px !important; /* กว้าง 200px */
    height: 50px !important; /* ความสูงของปุ่ม */
    font-size: 16px !important; /* ขนาดตัวอักษร */
    color: white !important; /* สีตัวหนังสือ */
    border-radius: 8px !important; /* มุมโค้งมน */
}

.custom-cancel-button {
    background-color: #ccc !important; /* สีเทา */
    width: 150px !important; /* กว้าง 150px */
    height: 50px !important; /* สูง 50px */
    font-size: 16px !important;
    color: black !important;
    border-radius: 8px !important;
}
