.navbar-ctn-3 {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: space-around;
    max-width: 1400px;
    margin: auto;
    height: 70px;
    align-items: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50px;
    position: absolute;
    z-index: 1;
    border-radius: 30px;
    .content1{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .logo {
        margin-left: 5%;
        display: grid;
        justify-content: center;
        .link{
            text-decoration: none;
            font-size: 1.5rem;
        }
        img {
            width: 50px;
            scale: 1.2;
            height: 50px;
        }
    }
    .link {
        margin-left: 5%;
        ul {
            display: flex;
            gap: 2rem;
            li {
                list-style: none;
            }
            a {
                text-decoration: none;
                text-transform: uppercase;
                transition: 50s ease-in;
            }
            a:hover {
                border-bottom: 2px solid rgb(126, 126, 126);
            }
        }
    }
    .cart {
        margin-right: 5%;
        cursor: pointer;
        display: flex;
        gap: 1rem;
        justify-content: end;
        a {
            position: relative;
            scale: 0.9;
            transition: 1s;
            color: black;
        }
        a:hover {
            scale: 1;
        }
        span {
            font-size: 1rem;
            position: absolute;
            width: 20px;
            color: rgb(255, 255, 255);
            text-align: center;
            border-radius: 50%;
            background-color: red;
        }
    }
    //mobile
    @media only screen and (max-width: 500px) {
        .link {
            display: none;
        }
        .cart {
            margin-right: 30px;
        }
    }
}